cat vs dog classifier/__pycache__
cat vs dog classifier/model
cat vs dog classifier/obj
cat vs dog classifier/test1
cat vs dog classifier/train
cat vs dog classifier/train_hdf5
cat vs dog classifier/*.png
